*
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#chatbox, #sendbox, #room_name
{
    resize: none;
    display: block;
    width: 95%;
}

#chatbox
{
    height: 400px;
}

#rooms, #clients
{
    float: left;
    auto;
}

#room_name
{
    clear: both;
}

td, th
{
    font-size:1em;
    border:1px solid #000000;
    padding:3px 7px 2px 7px;
}

th
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#06705D;
    color:#ffffff;
}

